[submodule "v8"]
	path = fireball/v8
	url = https://github.com/v8/v8.git
[submodule "chromium_build"]
	path = fireball/chromium_build
	url = https://github.com/blazerod/chromium_build
[submodule "build"]
	path = fireball/build
	url = https://github.com/blazerod/chromium_build
[submodule "buildtools"]
	path = fireball/buildtools
	url = https://github.com/blazerod/chromium_buildtools
[submodule "third_party/zlib"]
	path = fireball/third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib.git
[submodule "tools/clang"]
	path = fireball/tools/clang
	url = https://chromium.googlesource.com/chromium/src/tools/clang.git
[submodule "third_party/jinja2"]
	path = fireball/third_party/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2.git
[submodule "base/trace_event/common"]
	path = fireball/base/trace_event/common
	url = https://chromium.googlesource.com/chromium/src/base/trace_event/common.git
[submodule "third_party/markupsafe"]
	path = fireball/third_party/markupsafe
	url = https://chromium.googlesource.com/chromium/src/third_party/markupsafe.git
[submodule "typescript/typescript"]
	path = fireball/third_party/typescript
	url = https://github.com/microsoft/TypeScript
